:root {
    --paletteColor1: #000;
    --paletteColor2: #fff;
    --paletteColor3:#161619;
    --paletteColor4: #E21221;
    --paletteColor5:#fad0c4;
    --paletteColor6: #ffd1ff;
    --paletteColor7: #3A1C71;
    --paletteColor8: #D76D77;
    --paletteColor9: #FFAF7B;
    --paletteColor10: #f1c40f;
    --paletteColor11: #FF7A69;
    
    --filledProgressBar: 0%;
    --backgroundFontSize: 6vw;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(200deg, var(--paletteColor7), var(--paletteColor8), var(--paletteColor9));
    background-size: cover;
    align-items: center;
    justify-content: center;

    &::before, &::after {
        position: absolute;
        font-size: var(--backgroundFontSize);
        text-transform: uppercase;
        font-weight: 900;
        color: var(--paletteColor10);
        z-index: 0;
    }

    &::before {
        top: 35px;
        left: 25px;
        content: 'видеоплеер сезонный';
    }

    &::after {
        bottom: 35px;
        right: 55px;
        content: 'весна';
    }

    & .player {
        max-width: 750px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
        z-index: 1;

        & video {
            width: 100%;
        }

        & .controls {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateY(100%) translateY(-5px);
            transition: all 0.3s;
            flex-wrap: wrap;
            background: rgba(0, 0, 0, 0.1);

            & .progress {
                flex: 10;
                position: relative;
                display: flex;
                flex-basis: 100%;
                height: 5px;
                transition: height 0.3s;
                background: rgba(0, 0, 0, 0.5);
                cursor: pointer;

                & .filled {
                    width: 50%;
                    background: var(--paletteColor4);
                    flex: 0;
                    flex-basis: var(--filledProgressBar);
                }
            }

            & .slider {
                width: 10px;
                height: 30px;
            }

            & button {
                background: none;
                border: 0;
                line-height: 1;
                color: white;
                text-align: center;
                outline: 0;
                padding: 0;
                cursor: pointer;
                max-width: 50px;
                transition: color .3s ease-in-out;

                &::selection {
                    background-color: transparent;
                    color: white;
                }

                &:hover {
                    color: var(--paletteColor4);
                }
            }
        }
        
        &:hover .controls {
            transform: translateY(0);

            & .progress {
                height: 15px;
            }
        }
    }

    @media (--phonePortrait), (--phoneLandscape) {
        --backgroundFontSize: 42px;
        padding: 0 5px;

        &::before {
            top: 25px;
        }
        &::after {
            bottom: 25px;
        }
    }

    @media (--phoneLandscape) {
        --backgroundFontSize: 54px;
    }
}

.controls > * {
    flex: 1;
}

input  {
    &[type='range'] {
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
        margin: 0 5px;

        &:hover {
            outline: none;
            background: transparent;

            &::-webkit-slider-runnable-track {
                transition: background 1s ease;
                background: var(--paletteColor11);
            }
        }

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 8.4px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 1.3px;
            border: 0.2px solid rgba(1, 1, 1, 0);
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background: var(--paletteColor4);
            cursor: pointer;
            margin-top: -3.5px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        }

        &::-moz-range-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
            background: var(--paletteColor2);
            border-radius: 1.3px;
            border: 0.2px solid rgba(1, 1, 1, 0);
        }

        &::-moz-range-thumb {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background: var(--paletteColor4);
            cursor: pointer;
        }
    }
}